.capivara-dormir {
    padding-bottom: 80%;
    width: 250px;
}

.default-background {
  background-image: url('./public/Tela-quarto/Manha/tela-fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.alternative-background {
  background-image: url('./public/Tela-quarto/Noite/tela-fundo-noite.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

